@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-gray-800 text-white h-screen
  }
  .font-outline-1 {
    -webkit-text-stroke: 1px black;
  }
  .font-outline-0 {
    -webkit-text-stroke: 0.4px black;
  }
}

@layer utilities {
.clip-icon{
       clip-path: polygon(0% 0%, 100% 0%, 97% 58%, 50% 101%, 0% 50%);
   }
}

@font-face {
  font-family: fifa-font;
  src: url("../public/fonts/CruyffSans-Bold.ttf") format("opentype");
}
